<h1>Room 데이터 삽입</h1>

<form name="employee" method="post" action="/">
    <div>
        <label for="rid">room id</label>
        <input id="rid" name="rid" type="text"  required placeholder="Rid" />
    </div>
    <div>
        <label for="r_name">room name</label>
        <input id="r_name" name="r_name" type="text" placeholder="R_name" />
    </div>
    <div>
        <label for="capacity">room capacity</label>
        <input id="capacity" name="capacity" type="text" required placeholder="Capacity" />
    </div>
    <div>
        <label for="bid">building id</label>
        <input id="bid" name="bid" type="text" placeholder="Bid" />
    </div>
    <div>
        <input type="submit" value="삽입" />
    </div>
</form>

<br><br>